
body {
  background-color: grey;
}

a {
  text-decoration: none;
  font-family: Arial;
  font-weight: normal;
  color: yellow;
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
}

p {
  font-family: Arial;
}

.id01 {
  display: flex;
  flex-wrap: wrap;
  background-image: url('images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  width: 75%;
  margin: auto;
  justify-content: space-between;

}

.test {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.intro {
  font-size: 20px;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 0;
}

.tooltip {
  margin: 5px 20px 50px 20px;
  font-family: Arial;
  text-align: center;
  display: block;
  font-weight: bold;
  color: blue;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: white;
}

.hamburger-menu {
  height: 150px;
  width: 150px;
}

.header-image {
  display: flex;
  flex: 1;
  background-color: white;
  height: 150px; 
  max-width: 2000px;
  min-width: 600px;
 
}

.menu-button {
  display: flex;
  cursor: pointer;
  padding: 0;
  border: 0;
}

.list {
  margin-top: 200px;
  display: flex;

}

.comic-image {
  height: 200px;
  width: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.comic-links {
  align-items: center;
  justify-content: space-around;
  display: flex;
  width: 150px;
}

.comic-info {
  display: block;
}